.customer-table {
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid gray;
    margin-top: 10px;
}

.customer-table__button {
    margin-top: 30px;
}

.customer-table__frame {
    overflow-x: auto;
    width: 100%;
}

.customer-table__row {
    border-bottom: 1px solid gray;
}

.customer-table__row:last-child {
    border-bottom: none;
}

th, td {
    text-align: left;
    padding: 5px;
}
