@import "navigation.css";
@import "content.css";
@import "footer.css";

body {
    margin: 0;
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
}

.main-stage{
    width: 100%;
    position: relative;
    flex-grow: 1;
    margin-bottom: 20px;
}