@import "shared/navigation.css";
@import "shared/header.css";
@import "shared/content.css";
@import "shared/footer.css";

body {
    margin: 0;
    display: block;
    height: 100%;
    width: 100%;
}

.main-stage{
    width: 100%;
    position: relative;
    flex-grow: 1;
    padding-bottom: 20px;
}