header {
    border-bottom: 1px solid black;
    top: 0;
}

.navigation {
    position: relative;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.navigation__inner {
    position: relative;
}

.navigation__inner__icon {
    position: relative;
    background-image: url('../img/main_icon.png');
    background-repeat: no-repeat;
    background-size: contain ;
    margin-left: 10px;
    height: 100px;
    width: 100%;
}

.navigation__inner__container {
    position: relative;
    list-style: none;
    padding: 10px 0 0 0;
    margin: 0;
}

.navigation__inner__container__element {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 40%;
    padding: 7px;
    margin: 0 2px 0 0;
    text-align: center;
    cursor: pointer;
}

.navigation__inner__container__element:hover {
    background-color: #98a4ad;
}

@media screen and (min-width: 480px) {
    .navigation__inner__icon {
        width: 30%;
    }

    .navigation__inner__container {
        margin-left: 30%;
        width: 70%;
    }

}

@media screen and (min-width: 992px) {
    .navigation__inner__container__element {
        width: 20%;
    }
}
