.contact-formula {
    margin: 50px 0 20px 0;
}

.contact-formula__field {
    margin-bottom: 10px;
    overflow: auto;
}

.contact-formula__field__desc {
   display: inline-block;
   vertical-align: top;
   width: 30%;
}

.contact-formula__field__input {
    display: inline-block;
}

.contact-formula__submit {
    margin-top: 10px;
}