.content {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    clear: both;
    display: -webkit-box;
    display: -moz-box;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
}

.content__sidebar {
    width: 20%;
    height: 50px;
    position: absolute;
    top: -55px;
    background-image: url("../../img/sidebar_menu.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.content__sidebar__frame {
    display: none;
    position: absolute;
    width: 100vw;
    height: auto;
    background-color: gray;
    z-index: 99;
    top: 50px;
}

.content__sidebar__element {
    border-bottom: 1px solid wheat;
}

.content__sidebar__element:hover {
    background-color: black;
}

.content__sidebar__element__link {
    display: block;
    padding: 10px 0 5px 10px;
    color: wheat;
    text-decoration: none;
}

.content__text {
    padding: 15px 0 0 10px;
}

.content__text p {
    margin: 0 0 7px 0;
}

.content__text__heading {
    margin: 10px 0 15px 0;
}

@media screen and (min-width: 768px) {
    .content__sidebar{
        width: 30%;
        top: 0;
        height: auto;
        position: relative;
        background-image: none;
    }

    .content__sidebar__frame {
        display: block;
        position: relative;
        width: auto;
        height: auto;
        top: 0;
    }

    .content__text {
        width: 70%;
    }

}