<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <link rel="shortcut icon" type="image/x-icon" href="../favicon.ico"/>
    <link rel="stylesheet" href="../docs/layout/assets/css/main.css"/>
    <link rel="stylesheet" href="../docs/layout/assets/css/contact.css"/>
    <script src="../docs/layout/assets/js/navigation.js"></script>
    <script src="../docs/layout/assets/js/sidebar.js"></script>
    <script src="../docs/layout/assets/js/footer.js"></script>
    <script src="../docs/layout/assets/js/pages/contact/contact-formula.js"></script>
    <title>Kontakt</title>
</head>
<body>
<header>
    <div class="header__icon"></div>
    <h1 class="header__title">Catarando</h1>
</header>
<nav>
    <div class="nav__inner" id="navInner">
        <div class="nav__inner__icon">
        </div>
        <ul class="nav__inner__container">
            <li class="nav__inner__container__element">
                <a class="nav__inner__container__element__link" href="../index.html">Home</a>
            </li>
            <li class="nav__inner__container__element">
                <a class="nav__inner__container__element__link" href="table.html">Verkäufer</a>
            </li>
            <li class="nav__inner__container__element">
                <a class="nav__inner__container__element__link" href="pictures.html">Gallerie</a>
            </li>
            <li class="nav__inner__container__element">
                <a class="nav__inner__container__element__link" href="#">Kontakt</a>
            </li>
        </ul>
    </div>
</nav>
<main class="main-stage">
    <div class="content" id="content">
        <aside class="content__sidebar" onclick="triggerSidebarFrame('[sidebarFrame]')" id="contentSidebar">
            <div class="content__sidebar__frame" id="sidebarFrame">
                <div class="content__sidebar__element">
                    <a class="content__sidebar__element__link" href="faq.html">FAQ</a>
                </div>
                <div class="content__sidebar__element">
                    <a class="content__sidebar__element__link" href="impressum.html">Impressum</a>
                </div>
            </div>
        </aside>
        <article class="content__text" id="contentText">
            <h2 class="content__text__heading">Kontaktaufname</h2>
            <p>Um mit mir in Verbindung zu treten um weiter Informationen zu erhalten oder eine Katze anzubieten
                bitte ich sie darum das untenstehende Formular auszufüllen.</p>
            <form name="contactForm" action="#" onsubmit="return validateForm()" class="contact-formula">
                <div class="contact-formula__field">
                    <span class="contact-formula__field__desc">Name:</span>
                    <input name="name" type="text" required class="contact-formula__field__input">
                </div>
                <div class="contact-formula__field">
                    <span class="contact-formula__field__desc">Vorname:</span>
                    <input name="prename" type="text" required class="contact-formula__field__input">
                </div>
                <div class="contact-formula__field">
                    <span class="contact-formula__field__desc">Email:</span>
                    <input name="email" type="email" required class="contact-formula__field__input">
                </div>
                <div class="contact-formula__field">
                    <textarea name="message" rows="4" cols="40" placeholder="Ihre Nachricht für mich" required
                              class="contact-formula__field__input"></textarea>
                </div>
                <input class="contact-formula__submit" type="submit">
            </form>
        </article>
    </div>
</main>
<footer>
    &copy; Stefan Benz
</footer>
</body>
</html>