<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <link rel="shortcut icon" type="image/x-icon" href="../favicon.ico"/>
    <link rel="stylesheet" href="../docs/layout/assets/css/main.css"/>
    <link rel="stylesheet" href="../docs/layout/assets/css/faq.css"/>
    <script src="../docs/layout/assets/js/navigation.js"></script>
    <script src="../docs/layout/assets/js/sidebar.js"></script>
    <script src="../docs/layout/assets/js/footer.js"></script>
    <title>FAQ</title>
</head>
<body>
<header>
    <div class="header__icon"></div>
    <h1 class="header__title">Catarando</h1>
</header>
<nav>
    <div class="nav__inner" id="navInner">
        <div class="nav__inner__icon">
        </div>
        <ul class="nav__inner__container">
            <li class="nav__inner__container__element">
                <a class="nav__inner__container__element__link" href="../index.html">Home</a>
            </li>
            <li class="nav__inner__container__element">
                <a class="nav__inner__container__element__link" href="table.html">Verkäufer</a>
            </li>
            <li class="nav__inner__container__element">
                <a class="nav__inner__container__element__link" href="pictures.html">Gallerie</a>
            </li>
            <li class="nav__inner__container__element">
                <a class="nav__inner__container__element__link" href="contact.html">Kontakt</a>
            </li>
        </ul>
    </div>
</nav>
<main class="main-stage">
    <div class="content" id="content">
        <aside class="content__sidebar" onclick="triggerSidebarFrame('[sidebarFrame]')" id="contentSidebar">
            <div class="content__sidebar__frame" id="sidebarFrame">
                <div class="content__sidebar__element">
                    <a class="content__sidebar__element__link" href="faq.html">FAQ</a>
                </div>
                <div class="content__sidebar__element">
                    <a class="content__sidebar__element__link" href="impressum.html">Impressum</a>
                </div>
            </div>
        </aside>
        <article class="content__text" id="contentText">
            <h2 class="content__text__heading">FAQ</h2>
            <div class="faq">
                <div class="faq__element">
                    <div class="faq__element__q">Ist ihre Seite Legal?</div>
                    <div class="faq__element__a">
                        Ja, wie andere Seiten z.B. BEISPIEL, vermitteln wir Kundenkontakte
                        dagegen ist rechtlich gesehen nichts einzuwenden.
                    </div>
                </div>
                <div class="faq__element">
                    <div class="faq__element__q">Kann ich eine erworbene Katze zurückgeben?</div>
                    <div class="faq__element__a">
                        Dies müssen Sie in mit dem jeweiligen Händler klären, für gewöhnlich
                        haben diese jedoch kein Problem damit solange sie ihnen rechtzeitig Bescheid geben.
                    </div>
                </div>
                <div class="faq__element">
                    <div class="faq__element__q">Wie kann ich meine Katze anbieten?</div>
                    <div class="faq__element__a">
                        Sie bieten die Katzen nicht direkt an sodern wenden sich über ein <a
                            href="contact.html">Kontaktformular</a> an mich. Daraufhin werden wir ihnen Antworten und
                        mitteilen was alles benötigt wird um als Verkäufer aufgezählt zu werden.
                    </div>
                </div>
                <div class="faq__element">
                    <div class="faq__element__q">Wie erwerbe ich eine Katze?</div>
                    <div class="faq__element__a">
                        Sehen sie hierfür bitte in den Bereich <a
                            href="table.html">Verkäufer</a>.
                    </div>
                </div>
                <div class="faq__element">
                    <div class="faq__element__q">Wie wird meine Katze zugestellt?</div>
                    <div class="faq__element__a">
                        Aus tierschutzrechtlichen Gründen ist der Versand von Katzen leider
                        nicht gestattet. Ob sie die Katze abholen oder der Verkäufer sie zu ihnen bringt müssen sie mit
                        dem jeweiligem Verkäufer klären.
                    </div>
                </div>
            </div>
        </article>
    </div>
</main>
<footer>
    &copy; Stefan Benz
</footer>
</body>
</html>