<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="../docs/layout/assets/css/main.css"/>
    <link rel="stylesheet" href="../docs/layout/assets/css/table.css"/>
    <script type="text/javascript" src="../docs/layout/assets/js/navigation.js"></script>
    <script type="text/javascript" src="../docs/layout/assets/js/sidebar.js"></script>
    <script type="text/javascript" src="../docs/layout/assets/js/footer.js"></script>
    <script type="text/javascript" src="../docs/layout/assets/js/pages/table/customer-table-sort.js"></script>
    <title>Verkäufer</title>
</head>
<body>
<header>
    <div class="header__icon"></div>
    <h1 class="header__title">Catarando</h1>
</header>
<nav>
    <div class="nav__inner">
        <div class="nav__inner__icon">
        </div>
        <ul class="nav__inner__container">
            <li class="nav__inner__container__element">
                <a class="nav__inner__container__element__link" href="../index.html">Home</a>
            </li>
            <li class="nav__inner__container__element">
                <a class="nav__inner__container__element__link" href="#">Verkäufer</a>
            </li>
            <li class="nav__inner__container__element">
                <a class="nav__inner__container__element__link" href="pictures.html">Gallerie</a>
            </li>
            <li class="nav__inner__container__element">
                <a class="nav__inner__container__element__link" href="contact.html">Kontakt</a>
            </li>
        </ul>
    </div>
</nav>
<main class="main-stage">
    <div class="content">
        <section class="content__sidebar" onclick="triggerSidebarFrame('[sidebarFrame]')">
            <div class="content__sidebar__frame" sidebarFrame>
                <div class="content__sidebar__element">
                    <a class="content__sidebar__element__link" href="faq.html">FAQ</a>
                </div>
                <div class="content__sidebar__element">
                    <a class="content__sidebar__element__link" href="impressum.html">Impressum</a>
                </div>
            </div>
        </section>
        <article class="content__text">
            <h2 class="content__text__heading">Kunden die Katzen anbieten</h2>
            <p>In der Tabelle finden sie die Namen sowie die Emailadressen von Kunden die über uns Katzen zum Verkauf anbieten.</p>
            <button class="customer-table__button" onclick="sortTable()">Nach Art sortieren</button>
            <div class="customer-table__frame">
                <table class="customer-table" customerTable>
                    <thead>
                    <tr class="customer-table__row">
                        <th>Name</th>
                        <th>Katze(Rasse - Geschlecht - Alter)</th>
                        <th>Emailadresse</th>
                    </tr>
                    </thead>
                    <tbody sortBody>
                    <tr class="customer-table__row">
                        <td>Rudolf Monad</td>
                        <td>Perser - M - 1 Jahr</td>
                        <td>R.Monad@gmail.com</td>
                    </tr>
                    <tr class="customer-table__row">
                        <td>Magnus Huber</td>
                        <td>Bengalesisch - M - 1 Jahr</td>
                        <td>m.huber@mail.com</td>
                    </tr>
                    <tr class="customer-table__row">
                        <td>Thomas Mann</td>
                        <td>Norwegische Waldkatze - W - 2 Jahre</td>
                        <td>Mann.Th@gmx.de</td>
                    </tr>
                    <tr class="customer-table__row">
                        <td>Annegret Lech</td>
                        <td>Ocicat - W - 6 Monate</td>
                        <td>Aneegret.lech@hotmail.com</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </article>
    </div>
</main>
<footer>
    &copy; Stefan Benz
</footer>
</body>
</html>